.calc{
    width: 400px;
    height: 600px;
    background-color: gray;
    margin-left: 500px;
}

#screen{
    width: 85%;
    height: 40px;
    margin-left: 26px;
    margin-top: 23px;
    pointer-events: none;
}

.btn{
    width: 55px;
    height: 45px;
    margin-left: 34px;
    margin-top: 25px;
    background: bisque;

}